a:link
			{
				text-decoration: none;
			}
      body{
        background-image: url(../img/09.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
    .heading span{font-size: 20px;}
    .panel-transparent {
        background: none;
    }

    .panel-transparent .panel-heading{
        background: rgba(255,255,255, 0.5)!important;
    }

    .panel-transparent .panel-body{
        background: rgba(255,255,255, 0.8)!important;
    }
    .heading{
      color:black;
      font-family: Segoe UI Light,Calibri;
      text-align: center;
      font-size: 500%;
      width: 100%;
    }

    .panel-title{
      font-size: 200%;
      font-family: Segoe UI Light,Calibri;
    }
    .home{
      position: fixed;
      right:5px;
    }
