<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<title>Artist At Work Productions</title>
	<meta name="description" content="Official website of Artist At Work Productions." />
	<meta name="keywords"  content="what we do,about,contact,art,music,dance,design" />
	<meta name="Resource-type" content="Document" />
    <!--Stylesheets-->
    <link rel="icon" type="image/png" href="../img/logo6.png">
	<link rel="stylesheet" type="text/css" href="../css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="../css/slideshow.css">
	<link rel='stylesheet' type="text/css" media='screen and (max-width : 600px)' href='../css/mobile.css' />
	<link rel="stylesheet" type="text/css" media='screen and (min-width : 601px)' href="../css/styles.css"/>
    <!--Scripts-->		
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>	
	<script type="text/javascript" src="../js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="../js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="../js/placeholdem.js"></script>
	<script type="text/javascript" src="../js/main.js"></script>
</head>
<body>
<!--************Header*******************-->
<div id="header">
	<a href="#Home"><img src="../img/logo6.png" height="50" width="60" /><span>Artist At Work Productions</span></a>
	<img class="side-menu" src="../img/menu_icon.svg"/>
	<img class="side-menu-mob" src="../img/menu_icon.svg"/>
</div>

<!--************Side Menu****************-->
<ul id="menu">
	
	<li data-menuanchor="Home"><a href="#Home">Join Us</a></li>
	<li data-menuanchor="About"><a href="#About">About</a></li>
	<li data-menuanchor="WhatWeDo"><a href="#WhatWeDo">What We Do</a></li>
	<li data-menuanchor="Initiatives"><a href="#Initiatives">Our Projects and Work</a></li>
	<!--li data-menuanchor="Team"><a href="#Team">Our Team</a></li-->
	<li data-menuanchor="Contact"><a href="#Contact">Contact</a></li>
	<br><br>
	<img class="social-icon" src="../img/twitter.png"/>
	<img class="social-icon" src="../img/facebook.png"/>
	<img class="social-icon" src="../img/youtube.png"/><br>
	<span class="menu-contact">contact@aawproductions.com</span><br>
	<span class="menu-contact">+91 7838088743</span><br>
	<span class="menu-contact">&copy 2014</span> 
    
</ul>

<!--**********************Pages*****************************-->
<div id="fullpage">
	
	<!--SECTION 0: Slide Show-->
	<div class="section" id="section0">
		<div id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span><div><p></p></div></li>
            <li><span>Image 02</span><div><p></p></div></li>
            <li><span>Image 03</span><div><p></p></div></li>
            <li><span>Image 04</span><div><p></p></div></li>
            <li><span>Image 05</span><div><p></p></div></li>
            <li><span>Image 06</span><div><p></p></div></li>
        </ul>
        <a href="/joinus">
            <div class="join-us"><p>Join Us</p></div>
        </a> 
        </div>
        <a href="#About">
            <div class="scroll"><img src="../img/scrollArrow.svg"/><br>Keep Scrolling</div>
        </a>
	</div>
    <!--End Section: End SlideShow-->


	<!--SECTION 1: ABOUT-->
	<div class="section" id="section1">
		
		<video id="video1">
			<source src="../img/flowers.mp4" type="video/mp4">
			<source src="../img/flowers.webm" type="video/webm">
		</video>

		<div class="layer">
			<div class="intro">
				<br /><br /><br /><br /><br /><br />
			  <p>"Our aim is to provide artists what they need, and artists to those who need them."</p>
			  <img id="play" src="../img/play_icon.svg" onclick="playVideo();"/>
		    </div>
		</div>
	</div>
	<!--End Section: About-->

    
    <!--SECTION 2: What We Do-->
	<div class="section" id="section2">
	 
	  <div>
	    <div class="flip"> 
            <div class="card"> 
                <div class="face front"> 
                	<img src="../img/Digital_Asset_Creation.png"/><br>
                    Digital Asset Creation
                </div> 
                <div class="face back">
                 <div class="desc">	
                 We beleive that being in sync with the time is the secret to success and we provide you with the best that is available. We know it best how to gather the right kind of attention and we provide services in Digital Creatives (PhotoShop), Designing , Blogs, Apps, Website, Magazine, etc.
                 </div>
             </div> 
            </div> 
        </div> 
        <div class="flip"> 
            <div class="card"> 
                <div class="face front"> 
                	<img src="../img/FINE_ARTS.png"/><br>
                    Fine Arts
                </div> 
                <div class="face back"> 
                <div class="desc">
                 Earth without Art is just 'eh' and we know best the importance of art in our society an ddaly lives. We can provide you with the choicest of artists for Wall Paintings, Portraits, Live Portraits, Paintings for décor (Hotels, Cafes etc.) and Exhibitions. You name it, we get it for you.
                 </div>
                </div> 
            </div> 
        </div> 
        <div class="flip"> 
            <div class="card"> 
                <div class="face front"> 
                	<img src="../img/Film_Photography.png"/><br>
                    Film & Photography
                </div> 
                <div class="face back"> 
                <div class="desc">
                 They said beauty can't be captured, we say it can be. Movies are called movies because they can move hearts and we're good at touching hearts. We provide you with photographers/film makers for Ad Films & Short Films, Covering Events (Film and Photography), Product Photoshoot, Model Portfolios and other things. 
                </div>
                </div> 
            </div> 
        </div>
        <br>
	    <div class="flip"> 
            <div class="card"> 
                <div class="face front"> 
                	<img src="../img/Marketing_Campaign.png"/><br>
                    Marketing Campaigns & Events
                </div> 
                <div class="face back"> 
                <div class="desc">
                 Advertising and Marketing your product or services is unarguably the most important aspect of a successful business and we are just what you need for it. We are here for helping firms launch a new service; increasing their outreach in the targeted Demographics. we help in organizing and managing Events and shows.
                 </div>
                </div> 
            </div> 
        </div> 
        <div class="flip"> 
            <div class="card"> 
                <div class="face front">
                   <img src="../img/ARTIST_MANAGEMENT.png"/><br>
                   Artist Management
                </div> 
                <div class="face back"> 
                <div class="desc">
                 We at Artist At Work Productions, as the name suggests are here for providing Artists for all the varied fields. From Fine Arts, Music, Dance, Theatre etc for Performing Arts etc. We deal with the local and national artists, talented individuals who provide ther artistic expertise at nominal costs. 
                </div>
                </div> 
            </div> 
        </div> 
        <div class="flip"> 
            <div class="card"> 
                <div class="face front"> 
                	<img src="../img/CONTENT_STRATEGY.png"/><br>
                    Content Strategy And Management
                </div> 
                <div class="face back">
                <div class="desc">
                 In the world of upcoming entreprenuers, what makes you stand above the rest in your brand name and here we are to help you with it. We assist you in Promoting your Brand Online and Offline and  handling Social Media (Facebook, YouTube, Twitter, Instagram, Tumblr, Pinterest, Wordpress etc.) as it is fast becoming the most sought after place to advertise your brand.
                </div>
                </div> 
            </div> 
        </div>
      </div> 
</div>
    <!--End Section: What We Do-->

    
    <!--SECTION 3: OUR PROJECTS AND WORK-->
    <div class="section" id="section3">
	   <div class="layer"> 
	    <div class="intro">
				<h1>Our Projects and Work</h1><br><br>
				<p>Art is an embellishment and cannot be alienated from our lives.<br> It is a gift to mankind, and a gift to all.<br> All it takes is a crayon to draw your imagination, some origami to give it life, or just one right chord to hum through the day.</p>
				<br><br>
				<div class="project"><a href="">Projects</a></div>
				<div class="events"><a href="">Events</a></div>
				<div class="movies"><a href="/movies">Movies</a></div>
		</div>		
		</div>
	</div>
    <!--End Section: OUR PROJECTS AND WORK-->
    

    <!--SECTION 4: TEAM-->
	<!--div class="section" id="section4">
		<div class="intro">
			<h1>Our Team</h1>

		</div>
	</div-->
	<!--End Section: TEAM-->
    <!--SECTION 5: CONTACT-->
    <div class="section" id="section5">    
        <div class="contact">
			<h1>Contact Us</h1>
			<form id="contact-us" method="post">
				<p>Leave Us A Message</p><br>
	                <input type="text" name="name" placeholder="Name">
	                <input type="text" name="email" placeholder="Email">
	                <textarea rows="10%" cols="50%" name="message" placeholder="Write Your Message Here!"></textarea>
	                <input type="submit" class="submit-btn" value="Send" onclick="return false;" onmousedown="contact();">
	                <span id="contact-error"></span>
            </form>
                 
			<p>
				Registered Office : 76, Kamdhenu Apartments, Sector 9, Rohini, New Delhi - 110085
				<br><br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13996.543383346938!2d77.12616016330712!3d28.71548596950088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0142b8ec9b9f%3A0xb8675cf62af7814!2sKamdhenu+Apartments%2C+Shaheed+Captain+Sanjeev+Dahiya+Marg%2C+Pocket+51%2C+Sector+9%2C+Rohini%2C+New+Delhi%2C+Delhi+110085!5e0!3m2!1sen!2sin!4v1407228847077" width="40%" height="350" frameborder="0" style="border:0"></iframe>
				<br>
			</p>
		</div>
	</div>
    <!--End Section: Contact-->

</div>
<!--**************************End Pages******************************-->
</body>
</html>
