<!DOCTYPE html>

<html>
  <head>
		<title>
			Artist At Work Productions - AAW
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/logo6.png">
		<link href="../Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/movies.css" rel="stylesheet">
		<script src="../Bootstrap/js/jquery-1.9.1.min.js"></script>
		<script src="../Bootstrap/js/bootstrap.js"></script>
	</head>

	<body>
   <br>
   <a href="/"><span class="home">Back to Home</span></a>
    <div class="heading">
      <img src="../img/Film_Photography.png">Watch Our Productions
    </div>
    <br>
		<div class="panel-group" id="accordion">
      <!--VIDEO start-->
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#shityoyohoneysinghsays">
                  <img src="../img/honeysingh.webp" width="150px" height="100px"> &nbsp; &nbsp;
                  <strong>Shit Yo Yo Honey Singh Says  </strong>
              </a>                  
              </h4>
          </div>
          <div id="shityoyohoneysinghsays" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="col-md-6">
                  <iframe class="embed-responsive-item" height="315" width="100%" src="//www.youtube.com/embed/mPo73uL0v9g" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 pull-right">
                <strong>Published on Jul 16, 2014</strong><br>
               This video is made solely for entertainment and not intended to defame anyone. The video does not comment on Honey Singh or his songs.<br><br>

Love him or hate him, but you just can't ignore him! With his endless party songs and his own version of "hip hop", Yo Yo sure knows how to gather attention. <br><br>

Behold as Artist At Work Productions - AAW brings to you a laugh riot - 'SHIT YO YO HONEY SINGH SAYS', on our beloved Yo Yo Honey Singh
                </div> 
          </div>
          </div>
        </div>
      <!--VIDEO end-->
      <!--VIDEO start-->
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#oxford">
                  <img src="../img/talk.jpg" width="150px" height="100px"> &nbsp; &nbsp;
                  <strong>Talk on Homophobia | OxfordBook Store </strong>
              </a>                  
              </h4>
          </div>
          <div id="oxford" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-md-6">
                  <iframe class="embed-responsive-item" height="315" width="100%" src="//www.youtube.com/embed/jSa6JZp95Kw" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 pull-right">
                <strong>Published on Jun 1, 2014</strong><br>
               A Talk on Homophobia' was held on 21st January, 2014 at the Oxford Bookstore Café, New Delhi along with a solo exhibition by Ankur Choudhary, musical performances and screening of several movies produced by AAW Productions. <br><br>

The talk was a follow up for the nation-wide campaign 'Same Love', initiated by AAW Productions to address the issue of homophobia. A short film -- 'The Difference', was also released at the event.<br><br>

The panel for this discussion consisted of Saleem Kidwai, Shohini Ghosh, Aditya Bondyopadhyay, Dhruv Arora, Kunal Mukherjee and Manak Matiyani. 
                </div> 
          </div>
          </div>
        </div>
      <!--VIDEO end-->
      <!--VIDEO start-->
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#aawstruck">
                  <img src="../img/aawstruck.jpg" width="150px" height="100px"> &nbsp; &nbsp;
                  <strong>AAW'sTRUCK | Rendezvous '13 IIT Delhi </strong>
              </a>                  
              </h4>
          </div>
          <div id="aawstruck" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-md-6">
                  <iframe class="embed-responsive-item" height="315" width="100%" src="//www.youtube.com/embed/siq1Ejn0_sg" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 pull-right">
                <strong>Published on May 27, 2014</strong><br>
                AAW'sTRUCK was a four day event hosted by Artist At Work Productions (AAW), held at Rendezvous'13, the annual fest of IIT Delhi. <br><br>
With art on four wheels it involved a plethora of eclectic events like photo booth, rap ciphers, flash mob, paint a canvas, quizzes and exhibitions. <br><br>
Catch a glimpse of the AAWsome event here.
                </div> 
          </div>
          </div>
        </div>
      <!--VIDEO end-->
      <!--VIDEO start-->
        <div class="panel panel-default panel-transparent">
          <div class="panel-heading">
              <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#theDifference">
                  <img src="../img/Project1.jpg" width="150px" height="100px"> &nbsp; &nbsp;
                  <strong>The Difference</strong>
              </a>                  
              </h4>
          </div>
          <div id="theDifference" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="col-md-6">
                  <iframe class="embed-responsive-item" height="315" width="100%" src="//www.youtube.com/embed/qxWoQU1lkJU" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 pull-right">
                <strong>Published on Jan 21, 2014</strong><br>
                Life would be much easier, if we couldn't spot ' The Difference'.
                </div> 
          </div>
          </div>
        </div>
        <!--VIDEO end-->
			<!--VIDEO start-->
  			<div class="panel panel-default panel-transparent">
    			<div class="panel-heading">
      				<h4 class="panel-title">
        			<a data-toggle="collapse" data-parent="#accordion" href="#sameLove">
          				<img src="../img/Project1.jpg" width="150px" height="100px"> &nbsp; &nbsp;
          				<strong>Same Love - It is not Unnatural | No Homo Phobia</strong>
        			</a>                  
      				</h4>
    			</div>
    			<div id="sameLove" class="panel-collapse collapse">
      				<div class="panel-body">
      					<div class="col-md-6">
      						<iframe class="embed-responsive-item" height="315" width="100%" src="//www.youtube.com/embed/pUiwR6NIsQk" frameborder="0" allowfullscreen></iframe>
      					</div>
                <div class="col-md-6 pull-right">
						    <strong>Published on Dec 16, 2013</strong><br>
                Same Love is an initiative by Artist At Work Productions to curb the problem of HomophIndian Society.
                <br>

                You can be a part of this campaign in India, both online and offline .<br>
                        

                Facebook - www.facebook.com/aawproductions<br>

                Send us your Confessions, contributions, paintings , photographs , points of view and everything to the LGBT community is welcome. Depict your support in ways you like, and put it across. <br>
                Mail it to us at contact@aawproductions.com<br>

                Contact us - 9015598760<br>

                A Video by Asad Ali .
                </div> 
					</div>
    			</div>
  			</div>
  			<!--VIDEO end-->
		</div>		
	</body>
</html>